---
layout: default
---

<div class="container">

  <div class="main">

    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>

        <a class="post-content-linked" href="{{ post.url | prepend: site.baseurl }}">

        <h1 class="post-title">
          <i class="fa fa-quote-left article-sign"></i>
          <span class="the-wrapped-title">{{ post.title }}</span>
          <!-- <i class="fa fa-quote-right article-sign"></i> -->
        </h1>

        <p class="post-meta"><i class="fa fa-clock-o"></i> {{ post.date | date: "%b %-d, %Y" }}</p>

          <p>
            {{ post.excerpt | strip_html' }}
            <i class="fa fa-forward there-is-more"></i>
          </p>

        </a> <!-- /.post-content-linked -->

      </li>
      {% endfor %}
    </ul> <!-- /.post-list -->


    <div class="pagination">
      {% if paginator.next_page %}
      <a class="pagination-item older" href="/page{{paginator.next_page}}"><i class="fa fa-angle-double-left fa-2x"></i></a>
      {% else %}
      <span class="pagination-item left fa-2x older"><i class="fa fa-angle-double-left"></i></span>
      {% endif %}

      {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/"><i class="fa fa-angle-double-right fa-2x"></i></a>
      {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}"><i class="fa fa-angle-double-right fa-2x"></i></a>
      {% endif %}

      {% else %}
      <i class="fa fa-angle-double-right fa-2x newer"></i>
      {% endif %}
    </div> <!-- /.pagination -->

  </div> <!-- /.main -->

</div> <!-- ./container -->
