<header class="header">

  <div class="container">

    <div class="menu-icon">
      <label for="menu-checkbox" class="menu-toggle">
        <span class="fa-stack fa-menu">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
        </span>
      </label>
    </div>

    <div class="title">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="sub-title">{{ site.subtitle }}</div>
    </div>

  </div>

</header>
