// FILM GRID

@include susy-breakpoint (700px) {
  .film-left { @include span(6); }
  .film-right { @include span(6 last); }
}

.film-grid {
  @extend %vertical-rhythm;
  @include container($small-px);
  padding: 0;
}

.film {
  box-sizing: border-box;
  margin: 10px 0;
  opacity: 0;
  padding-right: 20px;

  .film-title {
    @extend h6;
    @extend %vertical-rhythm;
    color: $brand-color;
    font-weight: 400;
    text-transform: uppercase;
  }

  .film-year,
  .film-genre,
  .film-director,
  .film-actors,
  .film-rating {
    @extend %vertical-rhythm;
    @extend h6;
    display: inline;
    margin: 5px 0;
    font-weight: 400;

    &:after {
      content: '●';
      display: inline;
      margin: 0 0 0 6px;
      color: $brand-color;
    }
  }

  .film-rating:after {
    display: none;
  }

  .film-plot {
    @extend %vertical-rhythm;
    @extend p;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
  }
}

.fa-cog.loading-films {
  // margin-left: -34px;
  color: $brand-color;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 280px;

  @media #{$small} {
    top: 350px;
  }
}

.results {
  @extend h6;
  color: $brand-color;
  float: right;
  font-weight: 400;
  margin-top: 50px;
  text-transform: uppercase;
}
