// MUSIC

@include susy-breakpoint (700px) {
  .album-left { @include span(6); }
  .album-right { @include span(6 last); }
}

.album-grid {
  @extend %vertical-rhythm;
  @include container($small-px);
  padding: 0;
}

.music {
  box-sizing: border-box;
  margin: 10px 0;
  padding-right: 20px;
  opacity: 0;

  .album-title {
    @extend h6;
    @extend %vertical-rhythm;
    font-weight: 400;
    text-transform: uppercase;
    color: $brand-color;
    margin-bottom: 2px;
  }

  .album-artist {
    @extend h6;
    font-weight: 400;
  }

  .album-cover {
    border-radius: 6px;
    height: 150px;
    width: auto;
  }

  .album-tracks {
    color: $brand-color;
    font-size: 12px;
    line-height: 14px;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      &:after {
        content: '●';
        display: inline-block;
        margin: 0 5px;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  .album-summary {
    @extend %vertical-rhythm;
    @extend p;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
  }

}
